rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /guilds/{guildId} {
      allow read, write: if true;
    }
    match /channels/{channelId} {
      allow read, write: if true;
    }
    match /preferences/{docId} {
      allow read, write: if true;
    }
    match /config/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /characters/{region}/{realm}/{name} {
      allow read: if false;
      allow write: if false;
    }
    match /badGroupReports/{docId} {
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}
